body {
    font-family: 'Lato', sans-serif;
    background-image: url('../img/campamento-pokemon-fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#imagen {
    width: 300px;
    height: 300px;
}

h1, h3, h5 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}